body
{
	background-color: #2b2b2b;
	background-image: url("../img/noise.png");
	text-align: center;
}

#titleBlock
{
	color:#cad0d2;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
	font-size: 50px;
	width: 500px;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

p
{
	color: #2b2b2b;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	text-shadow: 0px 1.2px 1.5px rgba(0, 0, 0, 0.4);
	font-size: 10px;
	text-indent:50px;
	word-spacing:3px;
	letter-spacing:0px;
	line-height:100%;
}

a{
	color: #2b2b2b;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	text-shadow: 0px 1.2px 1.5px rgba(0, 0, 0, 0.4);
	font-size: 10px;
	text-indent:50px;
	word-spacing:3px;
	letter-spacing:0px;
	line-height:100%;
}

.theLine { 
    margin: 25px 0;
    height: 1px;
    background: #2b2b2b;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#2b2b2b), to(#2b2b2b), color-stop(50%, #cad0d2));
}

#content
{
	height: auto;
	background-color: #ffffff;
	padding: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow:    0px 8px 5px -6px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 5px -6px rgba(0, 0, 0, 0.4);
	box-shadow:         0px 8px 5px -6px rgba(0, 0, 0, 0.4);
	width:100%;
	margin: 10px auto;
	float: left;
}

#icon{
	text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
	float:left;
}

#buttonContainer
{
	width:200px;
	height:50px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
}

#signup
{
	width: 600px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	padding: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow:    0px 8px 5px -6px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 5px -6px rgba(0, 0, 0, 0.4);
	box-shadow:         0px 8px 5px -6px rgba(0, 0, 0, 0.4);
	display: none;
}

footer
{
	height: 24px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	padding: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow:    0px 8px 5px -6px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 8px 5px -6px rgba(0, 0, 0, 0.4);
	box-shadow:         0px 8px 5px -6px rgba(0, 0, 0, 0.4);
	position:fixed;
	bottom: 0px;
	left: 0px;
	width:100%;
	text-align: center;
}


a:link {text-decoration:none; color:#cad0d2;}
a:visited {text-decoration:none; color:#cad0d2;}
a:hover {text-decoration:none; color:#b8e356;}
a:active {text-decoration:none; color:#cad0d2;}

.hideshow {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 43px;
	text-decoration:none;
	text-shadow:1px 1px 0px #86ae47;
}.hideshow:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}.hideshow:active {
	position:relative;
	top:1px;
}

.hideshowRED {
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d) );
	background:-moz-linear-gradient( center top, #fc8d83 5%, #e4685d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d');
	background-color:#fc8d83;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 43px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}.hideshowRED:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83) );
	background:-moz-linear-gradient( center top, #e4685d 5%, #fc8d83 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83');
	background-color:#e4685d;
}.hideshowRED:active {
	position:relative;
	top:1px;
}